
#popup {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    
    margin: -50px 0 0 -200px;       /* TODO: Fix this or use a real modal. */

    height: 140px;
    width: 100%;

    background-color: bisque;
}

.genericWrap {
    padding: 10px;
}

.jc-nav {
    background-color: goldenrod;
}

.jc-import {
    background-color: coral;
}

.jc-edit {
    background-color: palevioletred;
}

.jc-chat {
    background-color: aquamarine;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down{
  color: #aaa;
}