<!DOCTYPE html>

<html ng-app="justCardsApp">
<head>
    <title>Ng-Justcards</title>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-layout/ui-layout.css" />
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/editor.css" />
</head>
    
<body>
    <div ui-layout="{dividerSize: '0px'}">
        <div class="jc-nav" ui-layout-container size="50px">
            Nav
        </div>
        
        <div ui-layout-container>
            <div ui-layout="{flow : 'column'}">
                <div class="jc-import" ui-layout-container>
                    <h1>Import</h1>
                    <p>Some stuff</p>
                </div>

                <div class="jc-edit" ui-layout-container>
                    <h1>Edit</h1>
                    <p>Some new stuff</p>
                </div>

                <div class="jc-chat" ui-layout-container>
                    <div ng-controller="ChatController">
                        <div ui-layout="{dividerSize: '0px'}">
                            <div id="chatWrap" ui-layout-container>
                                <p ng-repeat="m in chat.messages track by $index"><strong>{{m.sender}}:</strong> {{m.text}}</p>
                            </div>
                            <div ui-layout-container size="34px">
                                <div class="input-group" style="width:100%">
                                    <input class="form-control" style="width:85%" type="text" ng-model="msg.text" placeholder="" />
                                    <span>
                                        <button type="button" class="btn btn-default" ng-click="sendMessage()">Say</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="popup" class="ng-hide" ng-hide="chat.identified">
                            <div class="genericWrap">
                                <h2>Select a nickname</h2>
                                <div class="input-group">
                                    <input class="form-control" type="text" ng-model="chat.nickname" placeholder="Enter a nickname" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="sendIdentity()">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/raf/index.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-layout/ui-layout.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <script src="js/editor.js"></script>
    
    </body>
</html>
