<!DOCTYPE html>

<html ng-app="justCardsApp">
<head>
    <title>Ng-Justcards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/editor.css" />
</head>
    
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 jc-nav">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-2 jc-import">
                <h1>Import</h1>
            </div>

            <div class="col-md-7 col-sm-3 col-xs-7 jc-edit">
                <h1>Edit</h1>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-3 jc-chat" ng-controller="ChatController">
                <h1>Chat</h1>
                <div id="chatWrap">
                    <p ng-repeat="m in chat.messages track by $index">{{m.sender}}:{{m.text}}</p>
                </div>
                <form action="">
                    <input type="text" ng-model="msg.text" />
                    <input type="button" class="btn btn-default" ng-click="sendMessage()" value="Submit" />
                </form>
                <div id="popup" class="ng-hide" ng-hide="chat.identified">
                    <div class="genericWrap">
                        <h2>Select a nickname</h2>
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="chat.nickname" placeholder="Enter a nickname" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="sendIdentity()">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
    
    <script src="js/editor.js"></script>
</html>
